escuelas_argentina.csv filter=lfs diff=lfs merge=lfs -text
buenos-aires.csv filter=lfs diff=lfs merge=lfs -text
catamarca.csv filter=lfs diff=lfs merge=lfs -text
chaco.csv filter=lfs diff=lfs merge=lfs -text
chubut.csv filter=lfs diff=lfs merge=lfs -text
ciudad-de-buenos-aires.csv filter=lfs diff=lfs merge=lfs -text
cordoba.csv filter=lfs diff=lfs merge=lfs -text
corrientes.csv filter=lfs diff=lfs merge=lfs -text
entre-rios.csv filter=lfs diff=lfs merge=lfs -text
formosa.csv filter=lfs diff=lfs merge=lfs -text
jujuy.csv filter=lfs diff=lfs merge=lfs -text
la-pampa.csv filter=lfs diff=lfs merge=lfs -text
la-rioja.csv filter=lfs diff=lfs merge=lfs -text
mendoza.csv filter=lfs diff=lfs merge=lfs -text
misiones.csv filter=lfs diff=lfs merge=lfs -text
neuquen.csv filter=lfs diff=lfs merge=lfs -text
rio-negro.csv filter=lfs diff=lfs merge=lfs -text
salta.csv filter=lfs diff=lfs merge=lfs -text
san-juan.csv filter=lfs diff=lfs merge=lfs -text
san-luis.csv filter=lfs diff=lfs merge=lfs -text
santa-cruz.csv filter=lfs diff=lfs merge=lfs -text
santa-fe.csv filter=lfs diff=lfs merge=lfs -text
santiago-del-estero.csv filter=lfs diff=lfs merge=lfs -text
tierra-del-fuego.csv filter=lfs diff=lfs merge=lfs -text
tucuman.csv filter=lfs diff=lfs merge=lfs -text
